:root {
  --primary: hsl(212, 64%, 19%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  --warning: hsl(357, 98%, 63%);
  --success: hsl(147, 45%, 51%);

  // font
  --text-xs: 0.875rem; // 14px
  --text-sm: 1rem; // 16 px
  --text-base: 1.25rem; // 20 px
  --text-medium: 1.5rem; // 24 px
  --text-lg: 2rem; // 32 px
  --text-xl: 4rem; // 64 px
}
