.header {
  background-color: var(--primary);
  color: var(--white);
  font-size: var(--text-base);
  position: relative;
  font-weight: 300;
  height: 80px;

  & a {
    color: inherit;
  }
}

.header-nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__col {
    display: flex;
    gap: 50px;
  }
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: inherit;
}
