.footer {
  background-color: var(--primary);
  color: var(--white);
  font-size: var(--text-base);
  font-weight: 300;
  height: 100px;

  &__rights {
    font-size: var(--text-xs);
    width: 80%;
  }

  &__nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 50px;

    .link {
      color: inherit;
    }
  }
}
